.button{
    background-color: #C026D3;
    border-radius: 18px;

    padding: 12px 30px;

    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    user-select: none;

    &--big{
        border-radius: 26px;
        padding: 20px 50px;
        font-size: 24px;
    }

    &:hover{
        background-color: #701A75;
    }
    &:active{
        background-color: #b83ac9;
    }
}