.faq-accordion {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: $spacing-xl;

    &__faq-item {
        -webkit-box-shadow: $box-shadow-md;
                box-shadow: $box-shadow-md;
        background-color: $color-bg-primary;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: $spacing-2xl;
        @include tablet{
            padding: $spacing-xl;
        }
        max-width: 1280px;
        min-width: 840px;
        @include tablet{
            max-width: 700px;
            min-width: 500px;
        }
    }

    &__btn {
        min-height: 46px;
        min-width: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: $color-bg-purple-pale;
        padding: 0;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        border-radius: $border-radius-md;

        &:hover {
            -webkit-filter: saturate(200%) blur(0.5px);
                    filter: saturate(200%) blur(0.5px);
            background-color: $color-hover-light;
        }

        &:active {
            background-color: $color-active-light;
        }

        &--down {
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
        }

        &--up {
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
    }
    &__question {
        color: $color-text-primary;
        font-weight: 500;
        line-height: $line-height-sm;
        font-size: $font-size-md;
        @include tablet{
            font-size: $font-size-sm;
            letter-spacing: $letter-spacing-normal;
        }
    }
}