@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.faq-accordion {
    display: flex;
    flex-direction: column;
    row-gap: vars.$spacing-xl;

    &__faq-item {
        box-shadow: vars.$box-shadow-md;
        background-color: vars.$color-bg-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -moz-column-gap: vars.$spacing-xl;
        column-gap: vars.$spacing-xl;
        padding: vars.$spacing-2xl vars.$spacing-5xl;

        @include media.tablet {
            padding: vars.$spacing-xl vars.$spacing-2xl;
        }

        @include media.mobile {
            padding: vars.$spacing-lg;
            -moz-column-gap: vars.$spacing-md;
            column-gap: vars.$spacing-md;
        }
    }

    &__btn {
        min-height: 46px;
        min-width: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$color-bg-purple-pale;
        padding: 0;
        transition: all 0.4s ease;
        border-radius: vars.$border-radius-md;

        @include mixins.hover {
            filter: saturate(200%) blur(0.5px);
            background-color: vars.$color-hover-light;
        }

        @media (hover: hover) {
            &:active {
                background-color: vars.$color-active-light;
            }
        }

        &--down {
            transform: rotate(0deg);
        }

        &--up {
            transform: rotate(180deg);
        }
    }

    &__question {
        color: vars.$color-text-primary;
        font-weight: 500;
        line-height: vars.$line-height-sm;
        font-size: vars.$font-size-md;

        @include media.tablet {
            font-size: vars.$font-size-sm;
            letter-spacing: vars.$letter-spacing-normal;
        }
    }
}