@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.feature-card {
    max-width: 360px;

    @include media.tablet {
        max-width: 240px;
    }

    @include media.mobile {
        max-width: 210px;
    }

    &__icon {
        margin-bottom: vars.$spacing-md;
    }

    &__primary-text {
        font-weight: 700;
        font-size: vars.$font-size-lg;
        @include mixins.fluid-text(18, 24);
        line-height: vars.$line-height-sm;
        color: vars.$color-text-tertiary;
        margin-bottom: vars.$spacing-md;
    }

    &__secondary-text {
        font-weight: 400;
        font-size: vars.$font-size-sm;
        @include mixins.fluid-text(15, 18);
        line-height: vars.$line-height-xl;
        color: vars.$color-text-secondary;
    }
}