
.feature-card{
    max-width: 360px;
    @include tablet{
        max-width: 240px;
    }
    @include mobile{
        max-width: 210px;
    }
    &__icon{
        margin-bottom: $spacing-md;
    }
    &__primary-text{
        font-weight: 700;
        font-size: $font-size-lg;
        @include fluid-text(18, 24);
        line-height: $line-height-sm;
        color: $color-text-tertiary;
        margin-bottom: $spacing-md;
    }
    &__secondary-text{
        font-weight: 400;
        font-size: $font-size-sm;
        @include fluid-text(15, 18);
        line-height: $line-height-xl;
        color: $color-text-secondary;
    }
}