
.feature-card{
    max-width: 360px;
    &__icon{
        margin-bottom: $spacing-md;
    }
    &__primary-text{
        font-weight: 700;
        font-size: $font-size-lg;
        line-height: $line-height-sm;
        color: $color-text-tertiary;
        margin-bottom: $spacing-md;
    }
    &__secondary-text{
        font-weight: 400;
        font-size: $font-size-sm;
        line-height: $line-height-xl;
        color: $color-text-secondary;
    }
}