@use "./../abstracts/variables" as vars;

.focus-ring {
    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: vars.$outline-width solid vars.$color-focus;
        outline-offset: vars.$outline-offset;
    }
}