@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.slide {
    box-shadow: vars.$box-shadow-sm;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: vars.$spacing-3xl;

    @include media.tablet {
        padding: vars.$spacing-2xl;
    }

    color: vars.$color-text-primary;
    max-width: 500px;

    &__title {
        font-size: vars.$font-size-xl;
        @include mixins.fluid-text(22, 32);
        font-weight: 700;
        line-height: vars.$line-height-sm;
        margin-bottom: vars.$spacing-2xl;
        max-width: 630px;
    }

    &__text {
        font-size: vars.$font-size-lg;
        @include mixins.fluid-text(18, 24);
        font-weight: 400;
        line-height: vars.$line-height-xl;
        max-width: 630px;
        margin-bottom: vars.$spacing-4xl;

        @include media.tablet {
            margin-bottom: vars.$spacing-2xl;
        }

        text-align: center;
    }

    &__avatar {
        margin-bottom: vars.$spacing-md;
    }

    &__name {
        font-size: vars.$font-size-sm;
        @include mixins.fluid-text(16, 18);
        font-weight: 400;
        line-height: vars.$line-height-xl;
    }

    &__role {
        color: vars.$color-text-secondary;
        @include mixins.fluid-text(14, 16);
        font-size: vars.$font-size-xs;
        font-weight: 400;
        line-height: vars.$line-height-md;
    }
}