.slider{
    &__btn{
        min-height: 48px;
        min-width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 0.4);
        border-radius: 50px;
        background-color: #FEF9FF;
        padding: 0;
        &:hover{
            background-color: #ead0f0;
        }
        &:active{
            background-color: #e7a1f5;
        }
        &--left{
            position: absolute;
            transform: translateY(-50%) rotate(180deg);
            top: 50%;
            left: -100px;
        }
        &--right{
            position: absolute;
            transform: translateY(-50%) rotate(0deg);
            top: 50%;
            right: -100px;
        }
    }
    &__track{
        position: relative;
    }
}