@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.slider {
    &__btn {
        min-height: 48px;
        min-width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: vars.$box-shadow-sm;
        border-radius: vars.$border-radius-xl;
        background-color: vars.$color-bg-purple-pale;
        padding: 0;
        transition: all 0.4s ease;

        @include mixins.hover {
            background-color: vars.$color-hover-light;
        }

        @media (hover: hover) {
            &:active {
                background-color: vars.$color-active-light;
            }
        }

        &--left {
            position: absolute;
            transform: translateY(-50%) rotate(180deg);
            top: 50%;
            left: -20%;

            @include media.tablet {
                left: -15%;
            }
        }

        &--right {
            position: absolute;
            transform: translateY(-50%) rotate(0deg);
            top: 50%;
            right: -20%;

            @include media.tablet {
                right: -15%;
            }
        }
    }

    &__track {
        position: relative;
    }
}