@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.title {
    display: flex;
    flex-direction: column;
    row-gap: vars.$spacing-xl;

    &__primary {
        line-height: vars.$line-height-sm;
        font-weight: 800;
        font-size: vars.$font-size-2xl;
        background: vars.$gradient-primary;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        &--big {
            font-size: vars.$font-size-3xl;
            @include mixins.fluid-text(40, 72);

        }
        @include mixins.fluid-text(32, 56);
    }

    &__secondary {
        font-weight: 400;
        color: vars.$color-text-secondary;
        line-height: vars.$line-height-xxl;
        font-size: vars.$font-size-md;
        @include mixins.fluid-text(16, 20);
        @include media.tablet{
            max-width: 530px;
        }
    }
}