@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25vh);
    }
}

.user-info {
    border-radius: $border-radius-sm;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;

    @include desktop {
        width: 224px;
        height: auto;
    }

    -webkit-box-shadow: $box-shadow-sm;
    box-shadow: $box-shadow-sm;

    animation-name: fade-in;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    backface-visibility: hidden;

    view-timeline-name: --fade-in-card;
    animation-timeline: --fade-in-card;
    animation-range: 20% 60%;
    
    &:nth-child(2) {
        animation-range: 25% 60%;
    }

    &:nth-child(3) {
        animation-range: 30% 60%;
    }

    &:nth-child(4) {
        animation-range: 35% 60%;
    }


    &__showcase {
        border-radius: $border-radius-sm;
    }

    &__avatar {
        @include desktop {
            width: 44px;
            height: auto;
        }
    }

    &__profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: $spacing-xs;
        -moz-column-gap: $spacing-xs;
        column-gap: $spacing-xs;
        font-weight: 400;
        line-height: $line-height-md;
        padding: $spacing-md;
    }

    &__work {
        color: $color-text-primary;
        font-size: $font-size-xs;
        @include fluid-text(15, 16);
    }

    &__credit {
        color: $color-text-secondary;
        font-size: $font-size-xxs;
        @include fluid-text(14, 15);
    }
}