@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25vh);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(25vh);
    }
}

.user-info {
    border-radius: vars.$border-radius-sm;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;

    @include media.desktop {
        width: 224px;
        height: auto;
    }

    box-shadow: vars.$box-shadow-sm;

    -webkit-animation-name: fade-in;

            animation-name: fade-in;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    view-timeline-name: --fade-in-card;
    animation-timeline: --fade-in-card;
    animation-range: 20% 60%;
    
    &:nth-child(2) {
        animation-range: 25% 60%;
    }

    &:nth-child(3) {
        animation-range: 30% 60%;
    }

    &:nth-child(4) {
        animation-range: 35% 60%;
    }


    &__showcase {
        border-radius: vars.$border-radius-sm;
    }

    &__avatar {
        @include media.desktop {
            width: 44px;
            height: auto;
        }
    }

    &__profile {
        display: flex;
        -moz-column-gap: vars.$spacing-xs;
             column-gap: vars.$spacing-xs;
        font-weight: 400;
        line-height: vars.$line-height-md;
        padding: vars.$spacing-md;
    }

    &__work {
        color: vars.$color-text-primary;
        font-size: vars.$font-size-xs;
        @include mixins.fluid-text(15, 16);
    }

    &__credit {
        color: vars.$color-text-secondary;
        font-size: vars.$font-size-xxs;
        @include mixins.fluid-text(14, 15);
    }
}