*,
*::after,
*::before {
    border: none; // !
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}


a {
    cursor: pointer;
}

button {
    cursor: default;
}


a:visited {
    color: inherit;
}