*,
*::after,
*::before {
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button,
label,
a {
    cursor: pointer;
}

button[aria-disabled="true"] {
    cursor: not-allowed;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}