/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */

:where(ul, ol):where([class]) {
  padding-left: 0;
}


/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}


/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */

:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}


/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}


/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */

p:where(:not([class]):not(:last-child)) {

  margin-bottom: var(--paragraphMarginBottom);

}




/**
  Наследуем свойства шрифт для полей ввода
 */

input,
textarea,
select,
button {
  font: inherit;
}


html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */

  height: 100%;

  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */

  scrollbar-gutter: stable;

}


body {

  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */

  min-height: 100%;

  /**
    Унифицированный интерлиньяж
   */

  line-height: 1.5;

}


/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */

a:where([class]) {
  display: inline-flex;
}



/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */

button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}