// Dektop First

$desktop: 1280px; // completed
$tablet: 1023px; // completed
$mobile: 767px; // +- completed
$mobile-s: 480px; // -


@mixin desktop {
    @media(max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}
@mixin mobile-s {
    @media(max-width: $mobile-s) {
        @content;
    }
}