// Desktop First

$desktop: 1280px;
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;

@mixin desktop {
    @media(max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}

@mixin mobile-s {
    @media(max-width: $mobile-s) {
        @content;
    }
}