@use "./variables" as vars;

@mixin fluid-text($min-size, $max-size) {
    font-size: clamp(#{$min-size}px,
        calc(#{$max-size}px / vars.$container-width * 100vw),
        #{$max-size}px);
}

@mixin hover {

    @media(hover: hover) {
        &:hover {
            @content;
        }
    }

    @media(hover: none) {
        &:active {
            @content;
        }
    }
}