.faq{
    background-color: $color-bg-secondary;
    padding-block: $section-padding-y;
    @include tablet{
        padding-block: $spacing-4xl;
    }
    &__container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__title{
        margin-bottom: $spacing-5xl;
        @include tablet{
            margin-bottom: $spacing-3xl;
        }
        max-width: 900px;
        text-align: center;
    }
}