@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";

.faq {
    background-color: vars.$color-bg-secondary;
    padding-block: vars.$section-padding-y;

    @include media.tablet {
        padding-block: vars.$spacing-4xl;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: vars.$spacing-5xl;

        @include media.tablet {
            margin-bottom: vars.$spacing-3xl;
        }

        max-width: 900px;
        text-align: center;
    }
}