.feedback {
    background-color: $color-bg-purple-tint;
    padding-block: $section-padding-y;
    @include tablet{
        padding-block: $spacing-4xl;
    }
    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        overflow: hidden;
    }

    &__title {
        margin-bottom: $spacing-5xl;
        @include fluid-text(28, 56);
    }

    &__bottom-design-line {
        position: absolute;
        bottom: -50px;
        left: -100px;
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);

        & path:hover {
            stroke: $color-accent-purple;
            fill: $color-accent-light;
        }

        @include desktop{
            width: 250px;
            height: auto;
        }
        @include tablet{
            width: 190px;
            height: auto;
            bottom: -80px;
            left: -120px;
        }
        @include mobile{
            display: none;
        }
        
    }

    &__top-design-line {
        position: absolute;
        top: -100px;
        right: -120px;
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);

        & path:hover {
            stroke: $color-accent-purple;
            fill: $color-accent-light;
        }
        @include desktop{
            width: 262px;
            height: auto;
        }
        @include tablet{
            width: 202px;
            height: auto;
            top: -130px;
        }
        @include mobile{
            display: none;
        }
    }

    path {
        -webkit-transition: stroke .4s cubic-bezier(0.42, 0, 0.58, 1),
            fill .4s cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: stroke .4s cubic-bezier(0.42, 0, 0.58, 1),
            fill .4s cubic-bezier(0.42, 0, 0.58, 1);
        transition: stroke .4s cubic-bezier(0.42, 0, 0.58, 1),
            fill .4s cubic-bezier(0.42, 0, 0.58, 1);
    }

}