@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

@keyframes color-morph {
    from {
        fill: vars.$color-bg-purple-tint;
        stroke: vars.$color-primary;
    }

    to {
        stroke: vars.$color-accent-purple;
        fill: vars.$color-accent-light;
    }
}

.feedback {
    background-color: vars.$color-bg-purple-tint;
    padding-block: vars.$section-padding-y;

    @include media.tablet {
        padding-block: vars.$spacing-4xl;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: clip;
    }

    &__title {
        margin-bottom: vars.$spacing-5xl;
        @include mixins.fluid-text(28, 56);
    }

    &__bottom-design-line {
        position: absolute;
        bottom: -50px;
        left: -100px;
        transform: rotate(360deg);

        @include media.desktop {
            width: 250px;
            height: auto;
        }

        @include media.tablet {
            width: 190px;
            height: auto;
            bottom: -80px;
            left: -120px;
        }

        @include media.mobile {
            display: none;
        }

    }

    &__top-design-line {
        position: absolute;
        top: -100px;
        right: -120px;
        transform: rotate(360deg);

        @include media.desktop {
            width: 262px;
            height: auto;
        }

        @include media.tablet {
            width: 202px;
            height: auto;
            top: -130px;
        }

        @include media.mobile {
            display: none;
        }
    }
}

.design-line-animation {
    view-timeline: --view-flow block;
    view-timeline-inset: 200px;

    * {
        -webkit-animation: color-morph cubic-bezier(0.42, 0, 0.58, 1) both;
        animation: color-morph cubic-bezier(0.42, 0, 0.58, 1) both;
        animation-timeline: --view-flow;
        animation-range: 30% 90%;
    }
}