
.footer{
    background-color: $color-bg-primary;
    &__links-block{
        padding-block: $spacing-3xl;
    }
    &__nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-column-gap: $spacing-3xl;
           -moz-column-gap: $spacing-3xl;
                column-gap: $spacing-3xl;
        @include tablet{
            flex-wrap: wrap;
            row-gap: $spacing-lg;
        }
    }
    &__column{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        min-width: 170px;
        @include desktop{
            min-width: 110px;
            max-width: 110px;
        }

        font-size: $font-size-xs;
        color: $color-text-secondary;
    }
    &__title{
        font-weight: 500;
        line-height: $line-height-sm;
        padding-block: $spacing-sm;
    }
    &__link{
        font-weight: 400;
        line-height: $line-height-md;
        padding-block: $spacing-sm;
        @include tablet{
            padding-block: $spacing-xs;
        }
        &:visited{
            color: $color-text-secondary;
        }
    }
    &__bottom-block{
        padding-block: $spacing-xl;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-padding-end: $spacing-3xl;
                padding-inline-end: $spacing-3xl;
    }
    &__info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: $spacing-xxs;
           -moz-column-gap: $spacing-xxs;
                column-gap: $spacing-xxs;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__copyright{
        color: $color-text-secondary;
        font-weight: 400;
        font-size: $font-size-xs;
        @include fluid-text(13, 14);
        line-height: $line-height-md;
    }
    &__socials{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: $spacing-md;
           -moz-column-gap: $spacing-md;
                column-gap: $spacing-md;
    }
}