@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.footer {
    background-color: vars.$color-bg-primary;

    &__links-block {
        padding-block: vars.$spacing-3xl;
    }

    &__nav-menu {
        display: flex;
        justify-content: center;
        -moz-column-gap: vars.$spacing-3xl;
        column-gap: vars.$spacing-3xl;

        @include media.tablet {
            flex-wrap: wrap;
            row-gap: vars.$spacing-lg;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        min-width: 170px;

        @include media.desktop {
            min-width: 110px;
            max-width: 110px;
        }

        font-size: vars.$font-size-xs;
        color: vars.$color-text-secondary;
    }

    &__title {
        font-weight: 500;
        line-height: vars.$line-height-sm;
        padding-block: vars.$spacing-sm;
    }

    &__link {
        font-weight: 400;
        line-height: vars.$line-height-md;
        padding-block: vars.$spacing-sm;

        @include media.tablet {
            padding-block: vars.$spacing-xs;
        }

        @include mixins.hover {
            color: vars.$color-primary-light;
        }

        @media (hover: hover) {
            &:active {
                color: vars.$color-primary-dark;
            }
        }
    }

    &__bottom-block {
        padding-block: vars.$spacing-xl;
        display: flex;
        justify-content: space-between;
        -webkit-padding-end: vars.$spacing-3xl;
        padding-inline-end: vars.$spacing-3xl;
    }

    &__info {
        display: flex;
        -moz-column-gap: vars.$spacing-xxs;
        column-gap: vars.$spacing-xxs;
        align-items: center;
    }

    &__copyright {
        color: vars.$color-text-secondary;
        font-weight: 400;
        font-size: vars.$font-size-xs;
        @include mixins.fluid-text(13, 14);
        line-height: vars.$line-height-md;
    }

    &__socials {
        display: flex;
        -moz-column-gap: vars.$spacing-md;
        column-gap: vars.$spacing-md;
    }
}