.header{
    padding-block: 24px;
    background-color: #FFF;
    &__list{
        display: flex;
        gap: 16px;
        align-items: center;
    }
    &__link{
        font-size: 16px;
        line-height: 24px;
        color: #0F172A;
        letter-spacing: 0.5px;
    }
    &__nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}