@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";
@use "./../abstracts/mixins";

.header {
    padding-block: vars.$spacing-xl;
    background-color: vars.$color-bg-primary;

    &__list {
        display: flex;
        gap: vars.$spacing-md;

        @include media.mobile {
            gap: vars.$spacing-xs;
        }

        align-items: center;
    }

    &__link {
        font-size: vars.$font-size-xs;
        @include mixins.fluid-text(14, 16);
        line-height: vars.$line-height-lg;
        color: vars.$color-text-primary;
        letter-spacing: vars.$letter-spacing-normal;

        @include mixins.hover {
            color: vars.$color-primary-light;
        }

        @media (hover: hover) {
            &:active {
                color: vars.$color-primary-dark;
            }
        }
    }

    &__nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}