.header{
    padding-block: $spacing-xl;
    background-color: $color-bg-primary;
    &__list{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: $spacing-md;
        @include mobile{ 
            gap: $spacing-xs;
        }
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__link{
        font-size: $font-size-xs;
        @include fluid-text(14, 16);
        line-height: $line-height-lg;
        color: $color-text-primary;
        letter-spacing: $letter-spacing-normal;
    }
    &__nav-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}