@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";

.hero {
    padding-block: vars.$spacing-4xl vars.$section-padding-y;

    @include media.tablet {
        -webkit-padding-before: vars.$spacing-3xl;
        padding-block-start: vars.$spacing-3xl;
        -webkit-padding-after: vars.$spacing-2xl;
        padding-block-end: vars.$spacing-2xl;
    }

    background-color: vars.$color-bg-primary;

    &__title {
        margin-bottom: vars.$spacing-xl;
        text-align: center;
    }

    &__form-wrapper {
        display: flex;
        align-items: center;
        -moz-column-gap: vars.$spacing-md;
        column-gap: vars.$spacing-md;
        margin-bottom: vars.$spacing-5xl;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}