@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";

.intro {
    padding-block: vars.$section-padding-y;

    @include media.tablet {
        -webkit-padding-before: vars.$spacing-4xl;
        padding-block-start: vars.$spacing-4xl;
        -webkit-padding-after: vars.$spacing-2xl;
        padding-block-end: vars.$spacing-2xl;
    }

    background-color: vars.$color-bg-primary;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: vars.$spacing-xl;
        text-align: center;
        max-width: 900px;
    }

    &__button {
        margin-bottom: vars.$spacing-5xl;
    }
}