@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";

.testimonials {
    padding-block: vars.$section-padding-y;

    @include media.tablet {
        padding-block: vars.$spacing-4xl;
    }

    background-color: vars.$color-bg-primary;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: vars.$spacing-5xl;
        max-width: 900px;
    }

    &__info-block {
        display: flex;
        -moz-column-gap: vars.$spacing-xl;
        column-gap: vars.$spacing-xl;

        @include media.tablet {
            flex-wrap: wrap;
            justify-content: center;
            gap: vars.$spacing-2xl vars.$spacing-4xl;
        }
    }
}