@use "./../abstracts/variables" as vars;
@use "./../abstracts/media";

.tools {
    padding-block: vars.$section-padding-y;

    @include media.tablet {
        padding-block: vars.$spacing-4xl;
    }

    background-color: vars.$color-bg-primary;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-block {
        display: flex;
        flex-flow: row wrap;
        gap: vars.$spacing-3xl;
        justify-content: center;
    }

    &__title {
        max-width: 900px;
        text-align: center;
        margin-bottom: vars.$spacing-3xl;
    }
}